@import 'primeicons/primeicons.css';

#app {
   width: 100%;
   max-width: 100vw;
   /* Limita el ancho máximo al ancho de la ventana */

   overflow-x: hidden;
   /* Oculta el desplazamiento horizontal */
   font-family: Montserrat, sans-serif;
   /* Asegúrate de tener el nombre de la fuente correcto */
}

body {
   margin: 0;
}
* {
   box-sizing: border-box;
}
